@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  scrollbar-width: thin;
}

.fade_project {
  --animate-duration: .4s;
}

.animate__fadeInUp {
  --animate-duration: .6s;
}

.page__fadeIn {
  --animate-duration: .8s;
}

.projectPanel__flipIn {
  --animate-duration: .7s;
}

.services__fadeIn {
  --animate-duration: .6s;
}

.projectsDecorator__fadeIn {
  --animate-duration: .7s;
}
